.UserCalcOutputs {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

.CalcOutputItem {
    background-color: rgb(207, 60, 60);
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    height: 40px;
    width: 450px;
    border: none;
    opacity: 1;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 10px;
    justify-content: center;
    margin: 12px;
}

.CalcOutputItem > input {
    margin-top: -20px
    
}

.CalcOutputItem > label {
    margin-top: -20px
    
}